#wrapper{

	text-align:left;
	padding:30px;

	text-align:justify;
	margin: 20px auto;

}

.book_title{
	margin-bottom:0px;
	margin-top:0px;
	font-family: "Times New Roman";
	font-size:40px;
	color:rgb(0,0,0);
	text-shadow: 1px 1px #C0C0C0;
	text-transform: uppercase;
		
}

.cat{
	display:block;
	float: right;

	border: 3px solid rgba(0,0,0,0.7);
	border-radius:10px;
	margin-left:15px;
}

a{
    text-decoration: none;
}

ol {
    color: green;
}